body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
}

#notesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.note-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}

button {
  padding: 10px;
  margin-top: 20px;
  background-color: #f8d7da;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f1b0b7;
}

.editor {
  margin: 20px;
}

.text-editor {
  border: 1px solid #ccc;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  padding: 10px;
}

.toolbar button {
  margin: 5px;
  padding: 5px 10px;
}

.delete-button {
  background-color: #f8d7da;
}

.delete-button:hover {
  background-color: #f1b0b7;
}

.back-button {
  margin-top: 20px;
}
