@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color:#fffdf1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

#topo {
    display: flex;
    justify-content: space-between;
    background-color: #A67C52;
    color: white;
    
}

header {
    padding: 10px;
    display: flex;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
}

.texto-header {
    width: 90px;
}

.header .status {
    font-size: 12px;
    color: #D3D3D3;
}

#botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 100px;
    height: 25px;
    border: 0px;
    border-radius: 10px;
    background: #A67C52;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
    padding-right:25px;
    color: rgb(236, 236, 236);
    margin-right: 10px;
}

button#but1 {
    margin-top: 0;
    background: url('imagens/pontinhos.png') right center no-repeat;
    background-size: 20px;
}

button#but2 {
    display: none;
    margin-top: 0;
    background: url('imagens/fechar.png') right center no-repeat;
    background-size: 20px;
}

button:hover{
    color: white;
    font-size: 1em;
}

.aba-not {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.notification {
    box-sizing: border-box;
    width: 70%;
    border-radius: 50px;
    border: 2px solid #a99d9d;
    background-color: #f2f1eb;
    color: #c43b2c;
    padding: 7px 0px;
    text-align: center;
    font-size: 16px;
}


.consulta {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
}

.session {
    width: 20vw;
    background-color: #d9fdd3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.153);
    border-radius: 20px;
    padding: 10px;
}

.session .details {
    display: flex;
    align-items: center;
}

.session .details .icon {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px;
    margin-right: 10px;
}

.session .details .icon i {
    color: #4F8A10;
    font-size: 24px;
}

.session .details .info {
    font-size: 14px;
}

.session .details .info .title {
    font-weight: bold;
}

.session .details .info .time {
    color: #666;
}

.resposta {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 30px;
}

.feedback {
    text-align: center;
    width: 35%;
    background-color: #fff8d4;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.153);
}

.feedback p {
    text-align: center;
    margin: 0;
}

.feedback .star img {
    width: 40px;
}

.session .feedback .date {
    font-size: 12px;
    color: #666;
}

.date {
    margin-top: 7px;
}