@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cabeçalho: #fbd300;
    --fundo-claro: #fff8d4;
    --fundo-verde: #d6ffd4;
    --amarelinho: #ffee95;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;

    overflow-x: hidden;
}

/*----------------------Seção Bem-vindo------------------------*/

section#bem-vindo {
    height: 380px;
    position: relative;
    text-align: center;
    background-color: var(--fundo-claro);
    padding-top: 20px;
    padding-bottom: 20px;
}


#txt-bem-vindo {
    width: 253px;
    margin-bottom: 25px;
    margin-top: 50px;
}

section#bem-vindo>p {
    margin: auto;
    width: 413px;
    line-height: 1.35em;
}

#flores-home {
    width: 254px;
    position: absolute;
    left: 31px;
    bottom: 5px;
}

#onda-home {
    width: 439px;
    position: absolute;
    top: -3px;
    right: 0px;
}

/*----------------------Seção Sentimentos-------------------------*/

.sentimentos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d6ffd4;
    height: 300px;
}

.section-texto {
    text-align: center;
    max-width: 460px;
}

.section-texto h1 {
    color: #42791f;
    font-family: "Katibeh", serif;
    font-size: 3em;
    margin: 0px;
}

.section-texto p {
    line-height: 1.5;
    font-size: 1.1em;
}

.emoji-section {
    width: 450px;
    text-align: center;
}

.emoji-section p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.emoçoes {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffffd7;
    border-radius: 10px;
    padding: 10px;
}

.emoji {
    text-align: center;
    cursor: pointer;
}

.emoji:hover{
    transform: scale(1.09);
    transition: 0.18s;
    cursor: pointer;
}

.emoji img {
    width: 55px;
}

.emoji p {
    margin: 5px 0 0 0;
    font-size: 1em;
}


/*----------------------Seção Sobre-------------------------*/

section#sobre {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: var(--fundo-claro);
    display: flex;
    text-align: center;
    line-height: 1.35em;
    position: relative;
    justify-content: space-evenly;
}

#onda-sobre {
    width: 504px;
    position: absolute;
    top: 0px;
    left: 0;
    /*404*/
}

.foto {
    width: 425px;
    margin-left: 50px;
}

#texto-sobre {
    z-index: 2;
    margin-top: 10px;
}

section#sobre h1 {
    font-family: "Katibeh", serif;
    font-size: 3em;
    margin: 0px;
    color: #bda211;
    margin-bottom: 30px;
}

section#sobre p {
    width: 542px;
    margin: auto;
}

/*----------------Seção final-------------------*/

#abas {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

#abas>a {
    text-decoration: none;
    text-align: center;
    color: black;
}

#abas a:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

#abas img {
    border-radius: 50%;
    width: 120px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.137);
}


p#fim {
    margin: auto;
    padding-top: 55px;
    text-align: center;
    width: 473px;
    line-height: 1.35em;
}

/*------------------------------*/

.mae-footer{
    position: relative;
}

footer {
    width: 100vw;
    display: flex;
    height: 130px;
    position: absolute;
    top: 104px;
    z-index: 2;
}

.contatos{
    margin-left: 61px;
}

footer p {
    color: rgb(183, 183, 183);
    line-height: 7px;
    color: rgb(255, 255, 255);
}

.container-verde {
    position: relative;
}

.container-verde img {
    margin: 0;
    padding: 0;
}

.verde {
    width: 100vw;
    background-color: #42791f;
    height: 20px;
    position: absolute;
    z-index: 2;
    bottom: -1px;
}

p.redes{
    display: flex;
    align-items: center;
}

p.redes a{
    text-decoration: none;
    color: white;
}

p.redes a:hover{
    text-decoration: underline;
}

.logos{
    width: 20px;
    margin-right: 3px;
}

.onda-verde{
    width: 100%;
}