@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cabeçalho: #fbd300;
    --fundo-claro: #fff8d4;
    --fundo-verde: #d6ffd4;
    --amarelinho: #ffee95;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: hidden;
}

.geral {
    display: flex;
}

.topo {

    margin: 0px;
    width: 99vw;
    height: 40px;
    padding: 10px;
    background-color: var(--cabeçalho);
    display: flex;
    align-items: center;
    justify-content: center;
}

#frase {
    color: white;
    text-align: center;
    align-self: center;
}

nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    padding: 30px 0px 30px 30px;
}

img {
    width: 100px;
    margin-bottom: 25px;
}

.nav {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav:hover {
    background-color: #ffee95;
    padding: 7px;
    border-radius: 5px;
}

.sair {
    cursor: pointer;
    color: rgb(156, 156, 156);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 7px;
}

.sair:hover {
    color: gray;
}

.perfil {
    width: 907px;
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -14px 3px 12px rgba(0, 0, 0, 0.137);
    padding: 64px;
}

.img-perfil {
    width: 100px;
    height: 100px;
    margin: 0;
}

.textos {
    margin-left: 25px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.since {
    color: gray;
    margin: 0;
}

.humor {
    width: 25%;
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -14px 3px 12px rgba(0, 0, 0, 0.137);
}

.header-popup {
    border-radius: 20px;
    width: 170px;
    height: 71px;
    display: flex;
    background-color: #fef5ca;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.tipo-plano, .nome-plano {
    padding: 0;
    margin: 0;
}


h2 {
    font-size: 1.4em;
}

.header-popup img {
    height: 80px;
    margin: 0;
    width: 65px;
}

.idade{
    font-weight: bold;
    color: gray;
}

.bio{
    width: 443px;
    text-align: justify;
}

.linha{
    height: 1px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(167, 167, 167);
}

.hist{
    color: rgb(155, 155, 155);
    padding: 10px;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.575);
    border-radius: 20px;
}