@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cabeçalho: #fbd300;
    --fundo-claro: #fff8d4;
    --fundo-verde: #d6ffd4;
    --amarelinho: #ffee95;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #00000000 #00000000
}

.plano-atual {
    background-color: #fef5ca;
    border-radius: 20px;
    padding: 10px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#info-1 {
    justify-content: space-between;
}

span h3,
span p {
    margin: 0;
}

#info-2 {
    margin: 30px 0px;
    display: flex;
    color: #8a8787;
    justify-content: space-between;
    border-bottom: 1px solid #8a878743;
    padding-bottom: 20px;
    align-items: center;
}

#info-2>div>p {
    margin: 0;
}

.especialista {
    margin: auto;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #8a878743;
}

.linha {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avaliacao img {
    width: 30px;
}

.img-especialista {
    width: 40px;
    height: 40px;
}

p#bio {
    width: 350px;
    text-align: justify;
}

#img-plano {
    width: 50px;
}

.geral {
    display: flex;
}

.topo {

    margin: 0px;
    width: 99vw;
    height: 40px;
    padding: 10px;
    background-color: var(--cabeçalho);
    display: flex;
    align-items: center;
    justify-content: center;
}

#frase {
    color: white;
    text-align: center;
    align-self: center;
}

nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    padding: 30px 0px 30px 30px;
}

img {
    width: 100px;
}

#logo-lado {
    margin-bottom: 25px;
}

.nav {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav:hover {
    background-color: #ffee95;
    padding: 7px;
    border-radius: 5px;
}

.sair {
    cursor: pointer;
    color: rgb(156, 156, 156);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 7px;
}

.sair:hover {
    color: gray;
}

.perfil {
    width: 907px;
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -14px 3px 12px rgba(0, 0, 0, 0.137);
    padding: 64px;
}

.img-perfil {
    width: 100px;
    height: 100px;
    margin: 0;
}

.textos {
    margin-left: 25px;
}

.info {
    display: flex;
    align-items: center;
}

.since {
    color: gray;
    margin: 0;
}

.humor {
    width: 25%;
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -14px 3px 12px rgba(0, 0, 0, 0.137);
    padding-left: 50px;
}

.humor h1 {
    font-family: "Katibeh", serif;
    font-size: 45px;
    margin: 20px 0px;
}

.humor p {
    width: 80%;
    text-align: justify;
}

/*-------------------------*/
.emoçoes {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.emoçoes img {
    width: 40px;
    height: 40px;
}

.gray-img {
    filter: grayscale(100%);
}

textarea {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    resize: none;
}