@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    overflow-y: hidden;
}

p {
    line-height: 1.5em;
}

#pag {
    line-height: normal;
    margin-bottom: 0;
    text-align: right;
    color: #a0a0a0;
    margin-top: 7px;
}

.logar {
    font-size: 0.9em;


    &#logar-user>a {
        color: #fbd300;
        text-decoration: none;
    }

    &#logar-esp>a {
        color: #2092db;
        text-decoration: none;
    }
}

#textos {
    width: 500px;
    text-align: justify;
    padding: 20px;
}

input#termsCheckbox {
    height: 20px;
    transform: scale(1.8);
    margin-right: 15px;
}

p#checkbox {
    display: flex;
    align-items: center;
}

.meio {
    text-align: center;
    margin: 0;
    padding: 5px;
}

h2 {
    color: #2092db;
    font-family: "Katibeh", serif;
    letter-spacing: 0.7px;
    font-size: 3.3em;
    margin: 0px;
}

.seguir{
    margin-bottom: -20px;
}

a {
    text-decoration: none;
    color: #2092db;
}

a:hover {
    font-weight: bold;
}

main {
    background-color: #f5f5f5;
    padding: 30px 30px 10px 30px;
    width: 400px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(97, 95, 74, 0.37);
}

#voltar {
    color: #a0a0a0;
    float: left;
}

img {
    width: 120px;
}

.form-control {
    position: relative;
    height: 60px;
    margin-bottom: 5px;
}


.form-control input {
    width: 350px;
    height: 32px;
    padding: 5px;
    border: 0px;
    border-radius: 50px;
    background-color: #e2dada;
    margin-bottom: 9.5px;
    padding-left: 15px;
    font-size: 1em;
}

.form-control i {
    position: absolute;
    top: 14px;
    right: 25px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    top: 44px;
    left: 23px;
    visibility: hidden;
}

input::placeholder {
    font-weight: bold;
    color: #a0a0a0;
}

input:hover {
    background-color: #d4d3d3;
}

input:focus {
    outline: 0;
}

.btn {
    width: 145px;
    height: 45px;
    padding: 5px;
    border: 2px solid #2092db;
    border-radius: 50px;
    background-color: #80cbfb;

    margin-top: 15px;

    color: #2092db;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.1em;
}

.btn:hover {
    background-color: #77b9e1;
    color: aliceblue;
    transition: 0.3s;
}

.logar {
    text-align: right;
}

.wave-container {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: #ffffff;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.fundo-onda {
    position: absolute;
    bottom: 0;
    top: 580px;
    z-index: -1;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1000px;
    background-color: #bbe5ff;
}

.flor1,
.flor2,
.flor3,
.flor4,
.flor5,
.flor6,
.flor7 {
    position: absolute;
}

.flor1 {
    width: 160px;
    top: 380px;
    left: -110px;
}

.flor2 {
    width: 50px;
    top: 510px;
    left: 55px;
}

.flor3 {
    width: 70px;
    top: 300px;
    left: -40px;
}

.flor4 {
    width: 190px;
    top: 190px;
    right: -150px;
}

.flor5 {
    width: 70px;
    top: 370px;
    right: -40px;
}

.flor6 {
    width: 80px;
    top: 100px;
    right: -50px;
}

.flor7 {
    width: 45px;
    top: -20px;
    right: 75px;
}

h1 {
    font-family: "Katibeh", serif;
    letter-spacing: 1px;
    font-size: 3em;
    margin: 0px;
}

/*Error and success*/

.form-control.success input {
    border: 2px solid #2db465;
}

.form-control.success i.fa-circle-check {
    color: #2db465;
    visibility: visible;
}

.form-control.error input {
    border: 2px solid #c84537;
}

.form-control.error i.fa-circle-exclamation {
    color: #c84537;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #c84537;
}